<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>146615601444-mk4emltj0sjibe6ft9rpmhhg2jrevvqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146615601444-mk4emltj0sjibe6ft9rpmhhg2jrevvqd</string>
	<key>API_KEY</key>
	<string>AIzaSyCpVVpxfv6iqZOTykyN0iVdWqpc8oRbKO8</string>
	<key>GCM_SENDER_ID</key>
	<string>146615601444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gerczix.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-bbf1a</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-bbf1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146615601444:ios:cd798c19861b94d8c04bb1</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-bbf1a.firebaseio.com</string>
</dict>
</plist>